@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.centro {

    display: flex;
    flex-direction: row;
    justify-content: center;

}




.ladoesquerdo {
    background-image: url(/assets/image/mulher.png);
    width: 50%;
    height: 800px;
   

}

.ladodireito {
    width: 50%;
    height: 600px;
    background: white;
}

.texto_down {

    
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    
}

.botao_android {
    margin-top: 20px;
    width: 20%;
}

.botao_ios {
    
    width: 20%;
}

.conteudo_lado_esquerdo{
    
    margin-top: 650px;
    margin-left: 30px;
}


.imagem-logo {
    margin-top: 100px;
    text-align: center;
}

.titulo-ladodireito {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 27px;
}


.texto-ladodireito {

    font-family: 'Inter', sans-serif;

}


.conteudo-ladodireito  p{
    margin-left: 80px;
    
    width: 450px;
    
    text-align: justify;
    font-size: 16px;
    margin-top: 40px;
    color: #6a6c72;
    display: flex;
}



.botao_entrar {

    margin-top: 50px;
    width: 450px;
    height: 40px;
    border-radius: 7px;
    background: #ff7a00;
    border-style: none;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    transition: 1s all;
	cursor: pointer;
    
    
}

.botao_entrar:hover{


    
        background: darkorange;
        transform: scale(1.2);
    }



.bt_entrar  {
    
    justify-content: center;    
    display: flex;



}

.conteudo-ladodireito img {

    width: 25px;
    height: 25px;
    margin-right: 7px;

}


